In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_csv("participants_dataset.csv")
df.head()

,ID,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,label
0,55407,Female,47.0,0,0,Yes,Private,Urban,93.18,42.6,formerly smoked,0.0
1,56075,Female,58.0,0,0,Yes,Private,Rural,196.50,37.7,never smoked,0.0
2,22939,Female,22.0,0,0,No,Private,Rural,80.72,29.3,Unknown,0.0
3,62681,Female,38.0,1,0,Yes,Private,Urban,137.94,41.8,never smoked,0.0
4,57539,Female,68.0,0,0,Yes,Private,Rural,233.59,43.9,never smoked,0.0

In [ ]:
df.isnull().sum()

ID                      0
gender                  0
age                     0
hypertension            0
heart_disease           0
ever_married            0
work_type               0
Residence_type          0
avg_glucose_level       0
bmi                   301
smoking_status          0
label                1251
dtype: int64

In [180]:
null_bmi = df[df['bmi'].isna()]
train_set = df.dropna()
train_set = train_set[train_set["avg_glucose_level"] < 300 ]

In [181]:
train_set["bmi"].value_counts()

27.7    36
27.6    36
26.1    34
28.7    33
26.4    31
        ..
49.2     1
46.8     1
92.0     1
14.5     1
42.5     1
Name: bmi, Length: 407, dtype: int64

In [182]:
train_set["bmi"].value_counts()

27.7    36
27.6    36
26.1    34
28.7    33
26.4    31
        ..
49.2     1
46.8     1
92.0     1
14.5     1
42.5     1
Name: bmi, Length: 407, dtype: int64

In [183]:
y = np.array(train_set["label"])
x = np.array(train_set[["gender", "ever_married", "work_type", "Residence_type", "smoking_status", "bmi", "age", "hypertension", "heart_disease"]])

x

array([['Female', 'Yes', 'Private', ..., 47.0, 0, 0],
       ['Female', 'Yes', 'Private', ..., 58.0, 0, 0],
       ['Female', 'No', 'Private', ..., 22.0, 0, 0],
       ...,
       ['Male', 'No', 'Govt_job', ..., 42.0, 0, 0],
       ['Female', 'Yes', 'Private', ..., 75.0, 0, 0],
       ['Male', 'Yes', 'Govt_job', ..., 40.0, 0, 0]], dtype=object)

In [184]:
cv = OneHotEncoder()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)

In [185]:
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8830409356725146

In [191]:
metrics.f1_score(y_test, prediction_test, average='weighted')

0.8789758301641981