In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [2]:
df = pd.read_csv("language-identification-datasets.csv")
df.head()

                                                Text Language     ID
0  şirket icra kurulu başkanı melih abdülhayoğlu ...  Turkish  26110
1  매춘업의 공식화를 주장한 민원식은 "우又 근경近頃 일본인이 주가 음식매점 등국내 도...   Korean  26862
2  خلال عظاته ركز التعليم اللاهوتي للبابا على الش...   Arabic  20562
3  soggin was born on  march  he took his first d...  English  14298
4  kulturmejeriet är sedan mitten av -talet en vi...  Swedish  17338

In [3]:
df.isnull().sum()

Text           0
Language    6686
ID             0
dtype: int64

In [4]:
to_predict = df[df['Language'].isna()]
train_set = df.dropna()

In [5]:
train_set["Language"].value_counts()

English       1877
French        1596
Spanish       1418
Russian       1329
Dutch         1226
Arabic        1190
Turkish       1170
Tamil         1156
Hindi          842
Japanese       824
Korean         795
Indonesian     794
Chinese        791
Swedish        788
Urdu           787
Pushto         786
Portugese      785
Latin          784
Persian        784
Thai           770
Estonian       768
Romanian       762
Italian        537
Malayalam      452
German         379
Danish         342
Kannada        301
Greek          293
Name: Language, dtype: int64

In [6]:
x = np.array(train_set["Text"])
y = np.array(train_set["Language"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)

In [7]:
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9545828195643239

In [8]:
prediction_test = model.predict(X_test)

In [9]:
metrics.f1_score(y_test, prediction_test, average='weighted')

0.9537146014014221